<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="list"></div>
    <script>
        const items = [
            {
            id:1,
            title: '标题1',
            content: '内容1'
            },
            {
            id:2,
            title: '标题2',
            content: '内容'
            }
        ]
        const container = document.getElementById('list')
        // const oDiv = document.createElement('div')
        const fragment = document.createDocumentFragment()
        items.forEach(item => {
            const wrapper = document.createElement('div')
            const title = document.createElement('h3')
            const desc = document.createElement('p')
            title.textContent = item.title
            desc.textContent = item.content
            wrapper.appendChild(title)
            wrapper.appendChild(desc)
            fragment.appendChild(wrapper)
        })
        // 批量添加节点，减少回流重绘
        container.appendChild(fragment)
    </script>
</body>
</html>